*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.add-div{
    width: 600px;
    margin: auto;
    text-align: center;
    h2{
        text-align: center;
        font-weight: 700;
        color: crimson;
        padding-top: 20px;
    }
    form{
        width: 70%;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 50px;
        .text-input{
            width: 80%;
            padding: 7px 20px;
            border: 1px solid crimson;
            outline: none;
            &::placeholder{
                color: crimson;
            }
        }
        .btn-input{
            width: 20%;
            background-color: crimson;
            border: 1px solid crimson;
            font-size: 15px;
            color: white;
        }
    }
    .task-box{
        width: 80%;
        div{
            width: 45%;
            ul{
                padding-left: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: crimson;
                h5{
                    text-align: center;
                    color: white;
                    padding-bottom: 10px;
                    border-bottom: 1px solid white;
                    width: 90%;
                    margin: auto;
                    margin-bottom: 10px;
                }
                li{
                    list-style: none;
                    text-align: left;
                    padding: 10px 0px 10px 15px;
                    color: white;
                    label{
                        padding-left: 10px;
                    }
                    button{
                        float: right;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}